@import "variables/_colors";
@import "alerts/_alerts";
@import "badges/_badges";
//@import "breadcrumbs";
@import "buttons/_buttons";
//@import "cards";
//@import "dropdowns";
@import "forms/_form";
@import "layout/_layout";
//@import "lists";
//@import "loading";
//@import "modals";
//@import "navs";
//@import "popups";
//@import "range";
//@import "side-tabs";
//@import "steps";
//@import "tables";
//@import "tabs";
//@import "theme";


body {
  background-color: var(--color-secondary);
  font-family: $primary-font;
  color: var(--color-text);
}

// BACKGROUND
.bg-tertiary {
  background-color: var(--color-tertiary);
}