// Définition des tailles de marge
$gaps: (
        1: 10px,
        2: 20px,
        3: 30px,
        4: 40px,
        5: 50px
);

$paddings: (
        1: 15px,
        2: 25px,
        3: 35px,
        4: 45px,
        5: 55px
);

.flix-grid {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); // Crée 12 colonnes de largeur équivalentes
}

.flix-grid-l {
  box-sizing: border-box;
  max-width: 1500px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); // Crée 12 colonnes de largeur équivalentes
}

.flix-grid-m {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); // Crée 12 colonnes de largeur équivalentes
}

.flix-grid-s {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); // Crée 12 colonnes de largeur équivalentes
}

.flix-row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  grid-column: 1 / span 12;
}

.max-height {
  height: 100%;
}

.flix-page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  grid-column: 1 / span 12;
  min-height: 100vh;

}

@for $i from 1 through 12 {
  .flix-col-#{$i} {

    // todo: retirer les couleurs de test
    // ------------------------------------
    background-color: var(--color-dominant);
    border-radius: 5px;
    color: var(--color-primary);
    // ------------------------------------

    grid-column: span #{$i}; // Indique à la colonne de prendre le nombre approprié
    padding: 25px 10px;
    height: fit-content;
  }
  .flix-row.max-height {
    .flix-col-#{$i} {
      height: auto;
    }
  }
}

@each $index, $gap in $gaps {
  .g-#{$index} {
    grid-gap: $gap;
  }
}

@each $index, $padding in $paddings {
  .p-#{$index} {
    padding-right: $padding;
    padding-left: $padding;
  }
}