<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLIX - demo grid</title>
</head>
<body>
<h1>demo GRID</h1>
<!-- include components/layout/demo.html -->
<div class="flix-grid g-4" style="border: 1px solid grey">
    <div class="flix-row g-3 max-height" style="border: 1px solid grey">
        <div class="flix-col-6 p-2" style="border: 1px solid grey">50%</div>
        <div class="flix-col-6 p-2" style="border: 1px solid grey">50%</div>
        <div class="flix-col-12 p-2" style="border: 1px solid grey">100%</div>
    </div>
    <div class="flix-row g-1" style="border: 1px solid grey">
        <div class="flix-col-3 p-4" style="border: 1px solid grey">30%</div>
        <div class="flix-col-9 p-4" style="border: 1px solid grey">70%</div>
    </div>
</div>
</body>
</html>