@import './base.css';
@import '../../../library-components/css/main.css';

#app {
  width: 100%;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: var(--color-primary-opacity);*/
    color: var(--color-primary-hover);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  .theme {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
  }
}
