.flix-grid {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-l {
  box-sizing: border-box;
  max-width: 1500px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-m {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-s {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: inherit;
  width: 100%;
  margin: 25px auto;
  padding: 25px;
  grid-column: 1 / span 12; }

.flix-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.flix-col-1 {
  grid-column: span 1;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-2 {
  grid-column: span 2;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-3 {
  grid-column: span 3;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-4 {
  grid-column: span 4;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-5 {
  grid-column: span 5;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-6 {
  grid-column: span 6;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-7 {
  grid-column: span 7;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-8 {
  grid-column: span 8;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-9 {
  grid-column: span 9;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-10 {
  grid-column: span 10;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-11 {
  grid-column: span 11;
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-12 {
  grid-column: span 12;
  padding-top: 25px;
  padding-bottom: 25px; }

.g-1 {
  grid-gap: 10px; }

.g-2 {
  grid-gap: 20px; }

.g-3 {
  grid-gap: 30px; }

.g-4 {
  grid-gap: 40px; }

.g-5 {
  grid-gap: 50px; }

.p-1 {
  padding-right: 10px;
  padding-left: 10px; }

.p-2 {
  padding-right: 20px;
  padding-left: 20px; }

.p-3 {
  padding-right: 30px;
  padding-left: 30px; }

.p-4 {
  padding-right: 40px;
  padding-left: 40px; }

.p-5 {
  padding-right: 50px;
  padding-left: 50px; }
