.m-1 {
  padding-right: 10px;
  padding-left: 10px; }

.m-2 {
  padding-right: 20px;
  padding-left: 20px; }

.m-3 {
  padding-right: 30px;
  padding-left: 30px; }

.m-4 {
  padding-right: 40px;
  padding-left: 40px; }

.m-5 {
  padding-right: 50px;
  padding-left: 50px; }

.flix-grid {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto; }

.flix-grid-l {
  box-sizing: border-box;
  max-width: 1500px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto; }

.flix-grid-m {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto; }

.flix-grid-s {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto; }

.flix-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px auto;
  padding: 25px; }

.flix-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.flix-col-1 {
  box-sizing: border-box;
  flex: 0 0 calc(8.33333%);
  max-width: calc(8.33333%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-2 {
  box-sizing: border-box;
  flex: 0 0 calc(16.66667%);
  max-width: calc(16.66667%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-3 {
  box-sizing: border-box;
  flex: 0 0 calc(25%);
  max-width: calc(25%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-4 {
  box-sizing: border-box;
  flex: 0 0 calc(33.33333%);
  max-width: calc(33.33333%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-5 {
  box-sizing: border-box;
  flex: 0 0 calc(41.66667%);
  max-width: calc(41.66667%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-6 {
  box-sizing: border-box;
  flex: 0 0 calc(50%);
  max-width: calc(50%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-7 {
  box-sizing: border-box;
  flex: 0 0 calc(58.33333%);
  max-width: calc(58.33333%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-8 {
  box-sizing: border-box;
  flex: 0 0 calc(66.66667%);
  max-width: calc(66.66667%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-9 {
  box-sizing: border-box;
  flex: 0 0 calc(75%);
  max-width: calc(75%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-10 {
  box-sizing: border-box;
  flex: 0 0 calc(83.33333%);
  max-width: calc(83.33333%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-11 {
  box-sizing: border-box;
  flex: 0 0 calc(91.66667%);
  max-width: calc(91.66667%);
  padding-top: 25px;
  padding-bottom: 25px; }

.flix-col-12 {
  box-sizing: border-box;
  flex: 0 0 calc(100%);
  max-width: calc(100%);
  padding-top: 25px;
  padding-bottom: 25px; }
