@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
:root {
  --color-primary: #ff7167;
  --color-primary-hover: #ED6A5E;
  --color-primary-active: #de5246;
  --color-primary-opacity: rgba(255, 113, 103, 0.2);
  --color-tertiary: #1f9f8c;
  --color-tertiary-hover: #148f7d;
  --color-tertiary-active: #096558;
  --color-dominant: #F8F8F8;
  --color-secondary: #EFEFEF;
  --color-text: #282828;
  --color-text-hover: #424242;
  --color-subtext: #6E6E6E;
  --color-success: rgba(36, 253, 161, 0.2);
  --color-success-txt: #0a5033;
  --color-warning: rgba(255, 174, 0, 0.2);
  --color-warning-txt: #b37e00;
  --color-danger: rgba(255, 16, 0, 0.2);
  --color-danger-txt: #ad180a;
  --color-info: rgba(0, 184, 212, 0.2);
  --color-info-txt: #007489; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary-opacity);
  border-radius: 5px;
  color: var(--color-primary); }

.alert-title {
  font-weight: bold;
  margin-bottom: 10px; }

.alert-content {
  font-size: .8rem; }

.alert-success {
  background-color: var(--color-success);
  color: var(--color-success-txt);
  border: 2px solid var(--color-success-txt); }

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-warning-txt);
  border: 2px solid var(--color-warning-txt); }

.alert-danger {
  background-color: var(--color-danger);
  color: var(--color-danger-txt);
  border: 2px solid var(--color-danger-txt); }

.alert-info {
  background-color: var(--color-info);
  color: var(--color-info-txt);
  border: 2px solid var(--color-info-txt); }

.alert-dismissible {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

.badge {
  display: inline-block;
  padding: 1em 1.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #F8F8F8; }
  .badge.rounded {
    border-radius: 50px; }

.badge-s {
  padding: 0.25em 0.4em;
  font-size: 75%;
  border-radius: 5px; }

.badge-m {
  padding: 0.5em 0.7em;
  font-size: 90%;
  border-radius: 5px; }

.badge-l {
  padding: 0.75em 1em;
  font-size: 100%;
  border-radius: 5px; }

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn.rounded {
    border-radius: 50px; }

.btn-primary {
  background-color: var(--color-primary);
  color: #F8F8F8;
  transition: ease-in-out 0.2s; }
  .btn-primary:hover {
    transition: ease-in-out 0.2s;
    background-color: var(--color-primary-hover); }
  .btn-primary:disabled {
    background-color: var(--color-primary-hover);
    color: #F8F8F8;
    cursor: not-allowed;
    opacity: .7; }
  .btn-primary.active {
    background-color: var(--color-primary-active);
    color: #F8F8F8;
    cursor: default;
    transition: ease-in-out 0.2s; }

.btn-outline-primary {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: ease-in-out 0.2s; }
  .btn-outline-primary:hover {
    background-color: var(--color-primary);
    color: #F8F8F8;
    transition: ease-in-out 0.2s; }
  .btn-outline-primary:disabled {
    background-color: transparent;
    color: var(--color-primary);
    cursor: not-allowed;
    opacity: .7; }
  .btn-outline-primary.active {
    border: 2px solid var(--color-primary-active);
    color: var(--color-primary-active);
    transition: ease-in-out 0.2s;
    cursor: default; }
    .btn-outline-primary.active:hover {
      background-color: transparent;
      color: var(--color-primary-active); }

.btn-secondary {
  background-color: var(--color-tertiary);
  color: var(--color-dominant);
  transition: ease-in-out 0.2s; }
  .btn-secondary:hover {
    background-color: var(--color-tertiary-hover);
    transition: ease-in-out 0.2s; }
  .btn-secondary:disabled {
    background-color: var(--color-tertiary-hover);
    color: var(--color-dominant);
    cursor: not-allowed;
    opacity: .7; }
  .btn-secondary.active {
    background-color: var(--color-tertiary-active);
    color: var(--color-dominant);
    cursor: default;
    transition: ease-in-out 0.2s; }

.btn-outline-secondary {
  background-color: transparent;
  color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  transition: ease-in-out 0.2s; }
  .btn-outline-secondary:hover {
    background-color: var(--color-tertiary);
    color: var(--color-dominant);
    transition: ease-in-out 0.2s; }
  .btn-outline-secondary:disabled {
    background-color: transparent;
    color: var(--color-tertiary);
    cursor: not-allowed;
    opacity: .7; }
  .btn-outline-secondary.active {
    border: 2px solid var(--color-tertiary-active);
    color: var(--color-tertiary-active);
    transition: ease-in-out 0.2s; }
    .btn-outline-secondary.active:hover {
      background-color: transparent;
      cursor: default;
      color: var(--color-tertiary-active); }

.btn-soft {
  border: solid 2px var(--color-secondary);
  background-color: transparent;
  color: var(--color-text);
  transition: ease-in-out 0.2s; }
  .btn-soft:hover {
    background-color: var(--color-secondary);
    transition: ease-in-out 0.2s; }

.btn-close {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  transition: ease-in-out 0.2s; }
  .btn-close:hover {
    color: var(--color-text-hover);
    transition: ease-in-out 0.2s; }

.form-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .form-row:last-child {
    margin-bottom: 0; }
  .form-row input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--color-dominant);
    color: var(--color-text); }
  .form-row input:focus {
    outline: 0;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.2rem rgba(255, 113, 103, 0.16);
    background-color: transparent; }
  .form-row input::placeholder {
    color: var(--color-text);
    opacity: 0.5; }
  .form-row input:disabled {
    background-color: var(--color-secondary);
    opacity: 0.5; }
  .form-row input:-webkit-autofill,
  .form-row input:-webkit-autofill:hover,
  .form-row input:-webkit-autofill:focus,
  .form-row input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-text) !important;
    background-color: var(--color-dominant) !important; }

.flix-grid {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-l {
  box-sizing: border-box;
  max-width: 1500px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-m {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-grid-s {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flix-row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  grid-column: 1 / span 12; }

.max-height {
  height: 100%; }

.flix-page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  grid-column: 1 / span 12;
  min-height: 100vh; }

.flix-col-1 {
  grid-column: span 1;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-1 {
  height: auto; }

.flix-col-2 {
  grid-column: span 2;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-2 {
  height: auto; }

.flix-col-3 {
  grid-column: span 3;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-3 {
  height: auto; }

.flix-col-4 {
  grid-column: span 4;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-4 {
  height: auto; }

.flix-col-5 {
  grid-column: span 5;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-5 {
  height: auto; }

.flix-col-6 {
  grid-column: span 6;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-6 {
  height: auto; }

.flix-col-7 {
  grid-column: span 7;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-7 {
  height: auto; }

.flix-col-8 {
  grid-column: span 8;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-8 {
  height: auto; }

.flix-col-9 {
  grid-column: span 9;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-9 {
  height: auto; }

.flix-col-10 {
  grid-column: span 10;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-10 {
  height: auto; }

.flix-col-11 {
  grid-column: span 11;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-11 {
  height: auto; }

.flix-col-12 {
  grid-column: span 12;
  padding: 25px 10px;
  height: fit-content; }

.flix-row.max-height .flix-col-12 {
  height: auto; }

.g-0 {
  grid-gap: 0; }

.g-1 {
  grid-gap: 10px; }

.g-2 {
  grid-gap: 20px; }

.g-3 {
  grid-gap: 30px; }

.g-4 {
  grid-gap: 40px; }

.g-5 {
  grid-gap: 50px; }

.p-0 {
  padding-right: 0;
  padding-left: 0; }

.p-1 {
  padding-right: 15px;
  padding-left: 15px; }

.p-2 {
  padding-right: 25px;
  padding-left: 25px; }

.p-3 {
  padding-right: 35px;
  padding-left: 35px; }

.p-4 {
  padding-right: 45px;
  padding-left: 45px; }

.p-5 {
  padding-right: 55px;
  padding-left: 55px; }

.bg-dominant {
  background-color: var(--color-dominant);
  border-radius: 5px;
  color: var(--color-primary); }

.bg-primary {
  background-color: var(--color-primary);
  border-radius: 5px;
  color: var(--color-dominant); }

.bg-secondary {
  background-color: var(--color-secondary);
  border-radius: 5px;
  color: var(--color-dominant); }

.bg-tertiary {
  background-color: var(--color-tertiary);
  border-radius: 5px;
  color: var(--color-dominant); }

.grid-row {
  display: grid;
  grid-direction: row;
  align-items: center; }

.grid-column {
  display: grid;
  grid-direction: column;
  align-items: center; }

.grid-row-reverse {
  display: grid;
  grid-direction: row-reverse;
  align-items: center; }

.grid-column-reverse {
  display: grid;
  grid-direction: column-reverse;
  align-items: center; }

.grid-wrap {
  grid-wrap: wrap; }

.grid-nowrap {
  grid-wrap: nowrap; }

.grid-wrap-reverse {
  grid-wrap: wrap-reverse; }

.grid-justify-start {
  justify-content: grid-start; }

.grid-justify-end {
  justify-content: grid-end; }

.grid-justify-center {
  justify-content: center; }

.grid-justify-space-between {
  justify-content: space-between; }

.grid-justify-space-around {
  justify-content: space-around; }

.grid-justify-space-evenly {
  justify-content: space-evenly; }

.grid-align-start {
  align-items: grid-start; }

.grid-align-end {
  align-items: grid-end; }

.grid-align-center {
  align-items: center; }

.grid-align-baseline {
  align-items: baseline; }

.grid-align-stretch {
  align-items: stretch; }

.grid-align-content-start {
  align-content: grid-start; }

.grid-align-content-end {
  align-content: grid-end; }

.grid-align-content-center {
  align-content: center; }

.grid-align-content-space-between {
  align-content: space-between; }

.grid-align-content-space-around {
  align-content: space-around; }

.grid-align-content-stretch {
  align-content: stretch; }

.grid-align-self-start {
  align-self: grid-start; }

.grid-align-self-end {
  align-self: grid-end; }

.grid-align-self-center {
  align-self: center; }

.grid-align-self-baseline {
  align-self: baseline; }

.grid-align-self-stretch {
  align-self: stretch; }

.grid-justify-self-start {
  justify-self: grid-start; }

.grid-justify-self-end {
  justify-self: grid-end; }

.grid-justify-self-center {
  justify-self: center; }

.grid-justify-self-baseline {
  justify-self: baseline; }

.grid-justify-self-stretch {
  justify-self: stretch; }

.grid-grow-0 {
  grid-grow: 0; }

.grid-grow-1 {
  grid-grow: 1; }

.grid-shrink-0 {
  grid-shrink: 0; }

.grid-shrink-1 {
  grid-shrink: 1; }

.grid-order-0 {
  order: 0; }

.grid-order-1 {
  order: 1; }

.grid-order-2 {
  order: 2; }

.grid-order-3 {
  order: 3; }

.grid-order-4 {
  order: 4; }

.grid-order-5 {
  order: 5; }

body {
  background-color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  color: var(--color-text); }

.bg-tertiary {
  background-color: var(--color-tertiary); }
